<!-- Top Info -->
<nav class="navbar navbar-expand-md navbar-light bg-warning py-0">
	<button class="navbar-toggler py-0" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTop">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item py-0">
				<a class="nav-link" href="#"><span class="fa fa-facebook"></span>&nbsp;Facebook</a>
			</li>

			<li class="nav-item py-0">
				<a class="nav-link" href="#"><span class="fa fa-twitter"></span>&nbsp;Twitter</a>
			</li>
			<li class="nav-item py-0">
				<a class="nav-link" href="#"><span class="fa fa-envelope"></span>&nbsp;info@danhngon.com</a>
			</li>
		</ul>
</nav>
<!-- Casourel newest quote -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Someone famous in <cite title="Source Title">Source Title</cite>
						</small>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="carousel-item">
			<div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Someone famous in <cite title="Source Title">Source Title</cite>
						</small>
					</footer>
				</blockquote>
			</div>
		</div>
		<div class="carousel-item">
			<div class="card p-3 text-right">
				<blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
						<small class="text-muted">
							Someone famous in <cite title="Source Title">Source Title</cite>
						</small>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon text-info bg-info" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon text-info bg-info" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- main navbar menu -->
<nav class="navbar navbar-expand-md navbar-dark bg-info py-2 sticky-top">
	<a class="navbar-brand" href="#"><img src="holder.js/32x32?text=DN&bg=17A2B8&fg=C2F200&size=16" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#"><span class="fa fa-home"></span></a>
			</li>
			<% if(cats) {
																			 let inc = 0;
																			 let apartCats = [];
																			 cats.forEach(function(cat){
																			 ++inc;
																			 if(inc < 6){
																			 %>
																			 <li class="nav-item">
																				 <a class="nav-link" href="/category/<%= cat.name %>"><%= cat.name %></a>
																			 </li>
																			 <% }else{
																				 apartCats.push(cat);
																				 %>

																				 <% }
																				 })
																				 %>
																				 <li class="nav-item dropdown">
																					 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																						 Thêm 
																					 </a>
																					 <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdownMenuLink">

																						 <%
																												 apartCats.forEach(function(cat){

																												 %>

																												 <a class="dropdown-item" href="/category/<%= cat.name %>"><%= cat.name %></a>
																												 <%
																											})
																											%>
																					 </div>
																				 </li>

																				 <%
																											} %>
		</ul>
		<!-- Search form -->
		<form id="frmSearch" class="form-inline" method="GET" action="/search">
			<div class="input-group">
				<input id="inputSearch" class="form-control" type="text" placeholder="Tìm Danh Ngôn..." aria-label="Tìm">

				<span class="input-group-btn">
					<button id="btnSearch" class="btn btn-warning omy-2 my-sm-0" type="submit">Tìm!</button>
				</span>
			</div>
		</form>
		<% if (user && user.id){ 
																																	var name, email, photoUrl;
																																	if(user.authType == "local"){
																																	if(user.local.name){
																																	name = user.local.name;
																																	}
																																	if(user.local.email){
																																	email = user.local.email;
																																	}
																																	if(user.local.photoUrl){
																																	photoUrl = user.local.photoUrl;
																																	}
																																	}else if(user.authType == "facebook"){
																																	name = user.facebook.name;
																																	email = user.facebook.email;
																																	photoUrl = user.facebook.photoUrl;
																																	}else if(user.authType == "twitter"){
																																	name = user.twitter.displayName;
																																	photoUrl = user.twitter.photoUrl;
																																	}else if(user.authType == "google"){
																																	name = user.google.name;
																																	email = user.google.email;
																																	}
																																	%>
																																	<input type="hidden" name="userID" value="<%= user.id %>"/>
																																	<ul class="navbar-nav mr-auto">
																																		<li class="nav-item dropdown">
																																			<a class="nav-link dropdown-toggle" href="#" id="userinfo" data-toggle="dropdown" aria-haspopup="true" aria-expended="false">
																																				<% if(photoUrl) { %>
																																				<img src="<%= photoUrl %>" class="rounded-circle" alt="">
																																				<% } %>
																																				<%= name %>
																																			</a>
																																			<div class="dropdown-menu bg-info" aria-labelledby="userinfo">
																																				<% if(email){ %>
																																				<a class="dropdown-item" href="#"><%= email %></a>
																																				<% } %>
																																				<a class="dropdown-item" href="/logout">Logout</a>
																																			</div>
																																		</li>
																																	</ul>
																																	<% }else{ %>
																																	<a href="/login"><button class="btn btn-danger mx-2">Login</button></a>
																																	<a href="/signup" class="btn btn-success">Signup</a>&nbsp;
																																	<% } %>

	</div>
</nav>
