<%
if(quotes){
	quotes.forEach(function(quote){
%>
<div class="card p-2">
	<blockquote class="blockquote blockquote-reverse">
		<p>
		<span class="fa fa-quote-left"></span>
		<%= quote.content %>
		<span class="fa fa-quote-right"></span>
		</p>
		<footer class="blockquote-footer fa"><a href="#"><%= quote.author %></a></footer>
	</blockquote>

	<div class="card-footer">
	<!-- if loggedIn user -->
	<% if(user){ 
	  var arrSavedUser = quote.saved_user;
	  //console.log("arrSavedUser:");
	  //console.log(arrSavedUser);
	  //console.log("user id: "+user._id);
		/*Check if this quote saved by this user*/
	  var isSavedQuote = false;
	  for(let i = 0; i < arrSavedUser.length; i++){
		  if(user._id.equals(arrSavedUser[i])){
			//console.log("Saved quote id: "+user._id);
		  isSavedQuote = true;
		  break;
		  }
	  }
	  if(isSavedQuote){
	%>
		<!-- this quote in favorite show alert remove -->
	  <a class="btn" data-toggle="modal" data-id="<%= quote._id %>" data-target="#removesaved" href="#">
			<span class="fa fa-check">&nbsp;<%= quote.saved_user.length %> </span>
		</a> |
		<%}else{%>
		<!-- save this quote to favorite -->
	  <a class="btn" data-id="<%= quote._id %>" href="#">
			<span class="fa fa-save">&nbsp;<%= quote.saved_user.length %> </span>
		</a> |
		<%}%>
		<a href="#">
			<span class="fa fa-heart">&nbsp;<%= quote.liked_user.length %></span> |
		</a>
		<a href="#">
			<span class="fa fa-comments">&nbsp;<%= quote.liked_user.length %></span> | 
		</a>
		<a href="#">
			<span class="fa fa-tags">&nbsp;<%= quote.tags.length %></span>
		</a>
	<%}else {%>
		<a class="btn" data-toggle="modal" data-target="#alertLogin" href="#">
			<span class="fa fa-save">&nbsp;<%= quote.saved_user.length %> </span>
		</a>| 
		<a href="#">
			<span class="fa fa-heart">&nbsp;<%= quote.liked_user.length %></span> |
		</a>
		<a href="#">
			<span class="fa fa-comments">&nbsp;<%= quote.liked_user.length %></span> | 
		</a>
		<a href="#">
			<span class="fa fa-tags">&nbsp;<%= quote.tags.length %></span>
		</a>
	<% } %>
	</div>
</div>
<%
					  })
					  }
					  %>
